
.bg-dark {
    background-color: hsl(0, 0%, 14%, .6) !important;
    border-bottom: #eee solid;
}
.page {
    min-height: 83.2vh;
    color: #eee;
    display: flex;
    flex-direction: row;
    background-color: hsl(0, 0%, 14%, .4);
    margin: 2%;
    border-radius: 20px;
    border: #eee solid;
}
@media only screen and (max-width: 768px) {
    .page {
        flex-direction: column;
        margin: auto;
        width: 50%;
        text-align: center;
    } 
}
.big {
    border-radius: 50%;
    border: #eee solid;
    margin: 5%;
}
@media only screen and (max-width: 768px) {
    .big{
        margin: auto;
        margin-top: 10%;
    } 
}
.footer {
    background-color: hsl(0, 0%, 14%, .6);
    border-top: #eee solid;
}
.text {
    width: 50vw;
    margin: 10%;
    -ms-flex-align: end;
}
@media only screen and (max-width: 768px) {
    .text {
        margin: auto
    } 
}